*.xml
*.wdf
*.dbg
*.mem
*.reloc
*.rtti
*.svtype
*.type
*.xdbg
*.exe
*.vdb
*.sdb
*.bat
*.sh
*.prj
*.tcl
*.wdb
*.pb
*.xpr
*.log
*.txt
*.rst
*.js
*.dcp
*.vds
*.rpt
*.jou
*.vdi
*.bit
*.html
